<div class="authentication">
  <div class="center">
    <div class="md-whiteframe-z5 form-container">
      <h2>Change Password</h2>
      <form name="vm.signupForm" ng-submit="vm.submitSettings()">
        <md-input-container>
          <label>Old Password</label>
          <input type="password" required name="oldPassword" ng-model="vm.user.oldPassword">
          <div ng-messages="vm.signupForm.oldPassword.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="mongoose">Incorrect Old Password</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" required name="newPassword" ng-model="vm.user.newPassword">
          <div ng-messages="vm.signupForm.newPassword.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <div layout layout-sm="column">
          <md-input-container flex>
            <md-button type="submit" class="md-raised md-primary">Submit</md-button>
          </md-input-container>
        </div>
      </form>
    </div>
  </div>
</div>

