<form name="categoryForm" ng-submit="vm.submit()">

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Category Title</label>
      <input ng-model="vm.category.title" name="title" required>
      <div ng-messages="categoryForm.title.$error">
        <div ng-message="required">Required</div>
      </div>
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex="50">
      <label>Parent Category</label>
      <md-select ng-model="vm.category.parent" name="parent" required>
        <md-option ng-repeat="category in vm.parentCategories" ng-value="category">
          {{category}}
        </md-option>
      </md-select>
      <div class="errors" ng-messages="categoryForm.parent.$error">
        <div ng-message="required">Required</div>
      </div>
    </md-input-container>
    <md-input-container flex="50">
      <label>Category Status</label>
      <md-select ng-model="vm.category.status" name="status" required>
        <md-option ng-repeat="status in vm.categoriesStatus" ng-value="status.key">
          {{status.value}}
        </md-option>
      </md-select>
      <div class="errors" ng-messages="categoryForm.status.$error">
        <div ng-message="required">Required</div>
      </div>
    </md-input-container>
  </div>

  <md-input-container flex>
    <label>Description</label>
    <textarea ng-model="vm.category.description" columns="1" name="description" required md-maxlength="150"></textarea>
    <div ng-messages="categoryForm.description.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="md-maxlength">The description has to be less than 150 characters long.</div>
    </div>
  </md-input-container>
  <div layout layout-sm="row">
    <md-input-container flex="80">
      <md-button ng-disabled="categoryForm.$invalid" type="submit" class="md-raised md-primary">
        Add Category
      </md-button>
    </md-input-container>
    <!--<md-input-container>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-input-container>-->
  </div>

</form>
