<!-- md-is-locked-open="$mdMedia('gt-md')"-->
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar class="md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
      <user-avatar></user-avatar>
      <span></span>
      <div>{{vm.getCurrentUser.name}}</div>
      <div>{{vm.getCurrentUser.email}}</div>
    </div>
  </md-toolbar>
  <md-list>
    <md-item ng-repeat="item in ::vm.menu" ng-if="true">
      <a>
        <md-list-item md-ink-ripple class="md-clickable" layout="row" layout-align="start center" ng-click="vm.navigateTo(item.link)">
          <div class="inset">
            <ng-md-icon icon="{{::item.icon}}"></ng-md-icon>
          </div>
          <div class="inset">{{::item.title}}
          </div>
        </md-list-item>
      </a>
    </md-item>
    <md-item>
      <a ng-if="vm.showChangePassword">
        <md-list-item md-ink-ripple class="md-clickable" layout="row" layout-align="start center" ng-click="vm.navigateTo('settings')">
          <div class="inset">
            <ng-md-icon icon="settings"></ng-md-icon>
          </div>
          <div class="inset">Change Password
          </div>
        </md-list-item>
      </a>
    </md-item>
    <md-divider></md-divider>
    <md-subheader ng-show="vm.isAdmin()">Admin</md-subheader>
    <md-item ng-if="vm.isAdmin()" ng-repeat="item in ::vm.admin">
      <a>
        <md-list-item md-ink-ripple class="md-clickable" layout="row" layout-align="start center" ng-click="vm.navigateTo(item.link)">
          <div class="inset">
            <ng-md-icon icon="{{::item.icon}}"></ng-md-icon>
          </div>
          <div class="inset">{{::item.title}}
          </div>
        </md-list-item>
      </a>
    </md-item>
  </md-list>
</md-sidenav>
