<md-content>

  <div class="gridListdemoBasicUsage">
    <md-grid-list
      md-cols-sm="1" md-cols-gt-sm="2"
      md-cols-gt-md="4" md-cols-gt-lg="5"
      md-row-height-gt-md="1:1" md-row-height="1:1"
      md-gutter="12px" md-gutter-gt-sm="8px" >

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#3: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>
  </div>

</md-content>
