<!--
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
-->

<md-content>

  <div class="gridListdemoBasicUsage">
    <md-grid-list
      md-cols-sm="1" md-cols-gt-sm="2"
      md-cols-gt-md="4" md-cols-gt-lg="5"
      md-row-height-gt-md="1:1" md-row-height="1:1"
      md-gutter="12px" md-gutter-gt-sm="8px" >

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#3: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="green">
        <md-grid-tile-header>
          <h3>This is a header</h3>
        </md-grid-tile-header>
        <md-grid-tile-footer>
          <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>
  </div>

</md-content>

