<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Side Menu" ng-click="vm.toggleLeft()">
        <ng-md-icon icon="menu" style="fill:#fff"></ng-md-icon>
      </md-button>
      <h2>
        <span>Ekart</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="More">
        <ng-md-icon icon="add_shopping_cart" style="fill:#fff"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Favorite">
        <ng-md-icon icon="favorite_outline" style="fill:#fff"></ng-md-icon>
      </md-button>
      <div class="menu-demo-container" layout="column">
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
            <ng-md-icon icon="more_vert" style="fill:#fff"></ng-md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="vm.redial($event)">
                <md-icon md-svg-icon="favorite" md-menu-align-target=""></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.redial($event)">
                <md-icon md-svg-icon="favorite" md-menu-align-target=""></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.redial($event)">
                <md-icon md-svg-icon="favorite" md-menu-align-target=""></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.redial($event)">
                <md-icon md-svg-icon="favorite" md-menu-align-target=""></md-icon>
                Redial
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </md-toolbar>
